.App {
  -ms-overflow-style: none;  /* Hide scrollbar in Edge and IE */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
  text-align: center;
}

/* Hide scrollbar in Chrome and Safari */
.App::-webkit-scrollbar {
  display: none;
}
