.User {
  align-items: center;
  border-bottom: 2px solid #f9f9f9;
  box-sizing: border-box;
  display: flex;
  height: 6.25rem;
  justify-content: flex-start;
  padding: 0 10%;
  width: 100%;
}

.User__image-container {
  background-color: #999999;
  border: 1px solid #f9f9f9;
  height: 4rem;
  margin-right: 2rem;
  width: 4rem;
}

.User--vertical .User__image-container {
  margin-right: 0px;
}

.User__image {
  height: 100%;
  width: 100%;
}

.User__username-container {
  height: 2rem;
}

.User__username {
  color: #f9f9f9;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.User--profile {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5.125rem;
  margin: 0 auto 0.5rem auto;
  justify-content: center;
}

.User--profile .User__image-container {
  border-radius: 50%;
  margin-right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
}

.User--profile .User__image {
  border-radius: 50%;
}

.User--small-profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 146px;
  left: 4rem;
  margin: 0;
  padding: 0;
  height: 3.375rem;
}

@media screen and (max-width: 767px) {
  .User--small-profile {
    display: none;
  }
}

.User--small-profile .User__image-container {
  border-radius: 50%;
  margin-right: 1rem;
  height: 2.375rem;
  width: 2.375rem;
}

.User--small-profile .User__image {
  border-radius: 50%;
}

